body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.accueil{
    text-align: center;
}

.accueil-header{
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.header{
  background-color: #282c34;
  padding: 20px;
  color: white;
  width: 100%;
}

.Introduction, .Project, .Equipe, .Hackathon {
    padding: 20px;
    margin: 0 auto;
  }

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
  
.card {
    background: #880000;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: calc(100% - 40px); /* Full width minus margins for small screens */
    max-width: 300px; /* Max width for larger screens */
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .Team-card {
      width: calc(50% - 40px); /* Half width minus margins for medium screens */
    }
}
  
@media (min-width: 900px) {
    .Team-card {
      width: calc(33.33% - 40px); /* One third width minus margins for large screens */
    }
}
.card:hover {
    background: #b30101;
    color: white;
}